<div class="row my-5">
  <div class="col-12">
    <div class="container mx-auto">
      <div id="about">
        <h2>About</h2>
        <p>Hey Everyone 👋</p>
        <p>I'm a web developer that is currently residing in Tokyo, Japan. I am originally from the San Francisco Bay Area, US.  Check out my projects and make sure to reach out to say hi!</p>
      </div>
    </div>
  </div>
</div>
