<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Brian Inphouva</h1>
    <%= image_tag 'BrianCasual.jpg', alt: "profile photo", class: 'avatar shadow' %>
    <div class="navigation-buttons pt-3">
      <a href="#about" class="btn btn-outline-secondary btn-sm navigation-button">About</a>
      <a href="#projects" class="btn btn-outline-secondary btn-sm navigation-button">Projects</a>
      <a href="#contact" class="btn btn-outline-secondary btn-sm navigation-button">Contact</a>
    </div>
  </div>
</div>
