<header>
  <div class="logo">
    <h1 class="logo-text">LOGO</h1>
    <button class="hamburger-icon">
      <label for="dropdown">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-x"></i>
      </label>
      <input type="checkbox" id="dropdown" />
    </button>
  </div>
  <ul class="navigation">
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<%# <div id="navbar" class="shadow">
  <a href="#about">About</a>
  <a href="#projects">Projects</a>
  <a href="#videos">Videos</a>
  <a href="#contact">Contact</a>
</div> %>
