.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  color: gray;

  &:hover {
    opacity: 1;
    color: black;
    transform: scale(1.2);
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
