
header {
  z-index: 2;
  position:fixed;
  width:100%;
  // display: flex;
  // justify-content: left;
  // align-items: center;
  background-color: #ffffff;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}

.hamburger-icon{
  display: none;
  border:none;
  background-color:transparent;

  .fa-bars, .fa-x {
    color:black;
    font-size:1rem;
    cursor:pointer;

  }

  input[type="checkbox"] {
    appearance: none;
  }
}

.navigation {
  display: flex;
  gap: 0.75rem;
  list-style: none;
  box-shadow: 0px 15px 10px -15px #111;

  a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1rem;
    // transition: 0.5s;

    &:hover::after {
      color: #606060;
      // border-bottom: 0 0 3px #81d6d2f8;
      width: 100%;
      right: 0;
    }

    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 4px;
      right: 0;
      background: linear-gradient(to left, #81d6d2f8, #f9dd94 100%);
      transition: width .5s ease 0s, right .5s ease 0s;
      width: 0;
    }
  }
}


@media screen and (max-width: 600px) {
  header {
    display: block;
  }
  .navigation {
    height:0;
    overflow:hidden;
    flex-direction: column;
    align-items: center;
    transition:all 0.5s ease-in-out;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .hamburger-icon {
    display: block;
  }
  .fa-x{
    display:none;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height: auto;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
    display:none;
  }
  header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display:inline-block;
  }
}
